

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(185, 220, 240, 0.822);
    justify-content: center;
    text-align: center;
    font-size: 50px;
    
  }


  